<center><h1>Contact Me </h1>
<p><b>Mobile No:</b> 0922-610-7288</p>
<p><b>Email ad:</b> <a href="https://mail.google.com/mail/u/0/">delantarruby@gmail.com</a></p>
<p>---</p>
<p><b>Facebook:</b> <a href="https://www.facebook.com/delantarruby">https://www.facebook.com/delantarruby</a></p>
<p><b>Twitter:</b> <a href="https://twitter.com/wubszz">https://twitter.com/wubszz</a></p>
<p><b>Instagram:</b> <a href="https://www.instagram.com/wubyjin/">https://www.instagram.com/wubyjin/</a></p>
<p><b>Deviantart:</b> <a href="http://grisslysinofsloth.deviantart.com/">http://grisslysinofsloth.deviantart.com/</a></p>
<p>---</p>
<p><b>Linkedin:</b> <a href="https://www.linkedin.com/in/ruby-delantar-30a328132?trk=hp-identity-name">https://www.linkedin.com/in/ruby-delantar-30a328132?trk=hp-identity-name</a></p>
<p><b>Github:</b> <a href="https://github.com/delantarruby">github.com/delantarruby</a></p>
<p><b>Heroku:</b> <a href="https://heroku.com">delantarruby@gmail.com</a></p>
</center>