<center><h1>---</h1></center>
<p>---I am a <b>BSIT-4</b> student of University of San Carlos </p>
<p>---I believe a lot are attracted to <b>IT</b> because of games and recent technology. Creating software/websites/games, and graphics was what did it for me.</p>
<%= image_tag("totoro.jpg", :alt => "totoro") %>