<center><h1>Who Am I</h1></center>
<p>Hajimemashite! </p>

<p>I’m <b>Ruby Jynn Delantar</b>. I have one elder sister, who can pass as my twin, two half-brothers who never stay in touch, 2 cats, 8 puppies and 2 dogs. And yes, I have parents, who are not so lovey-dovey anymore. Sigh. The details about me would bore you out, so read at your own risk. </p>

<p>I am a typical girl. I don't stand out much and I definitely do not excel in any field. I prefer solitary to social activities. I can be very socially-awkward and socially-inept at times. A true <b>introvert by heart</b>.</p>

<p>I <b>love</b> reading, drawing, watching drama series , drinking coffee and petting my cats.</p>

<p>If you ask me of my music preference, my answer would be <b>eclectic</b>. It depends on how I feel. But lately I'm in love with J-rock. Not understanding the lyrics does its wonders. I also like ballad and acoustic songs with male singers, and of course pop.</p>

<p>I <b>dislike</b> reptiles and amphibians. They’re plain creepy. Gomen nasai. </p>

<p>Hopefully, I will graduate by <b>April 2017 </b>and find myself a suitable job. My <b>long-time dream</b> is to be a mangaka or at the very least an assistant, quite far-fetched I know, from my line of field, or simply just settle as a graphic designer. </p>